<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="safety" value="false" />
    <add key="high" value="80" />
    <add key="low" value="50" />
  </appSettings>
</configuration>